.input-box {
  position: relative;
}

.image-preview-inside {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 60px;
  height: 60px;
}

.image-preview-inside img {
  width: 60px;
  height: 60px;
  object-fit: fill;
}

.remove-image-btn-inside {
  position: absolute;
  top: -6px;
  right: -6px;
  background: black;
  /* black instead of red */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.submit-inside-textarea {
  position: absolute;
  bottom: 14px;
  right: 14px;
  background: #ff0066;
  color: #fff;
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.profile-options {
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-option-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  background: #f8f8f8;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  transition: color 0.2s ease;
  justify-content: center;
  border-radius: 13px;
}

.profile-option-btn img {
  width: 20px;
  height: 20px;
}

.profile-option-btn:hover {
  background-color: #f0f0f0;
}

.profile-option-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.profile-option-btn.active span {
  color: black;
  /* active text color */
}

.profile-option-btn.inactive span {
  color: grey;
  /* greyed out when another option active */
}

.profile-option-btn:disabled {
  cursor: not-allowed;
}

.input-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.message-profile.textarea-wrapper,
.report-profile.textarea-wrapper {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
  height: 180px;
  position: relative;
  box-sizing: border-box;
}

.report-profile {
  .message-textarea {
    width: 100%;
    font-size: 16px;
    color: #222;
    font-family: "InterMedium", sans-serif;
    min-height: 110px;
    resize: none;
    border: none;
    outline: none;
    text-align: left;
    vertical-align: top;
    padding: 0;
    box-sizing: border-box;
  }

  .attachment-icon {
    position: absolute;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    padding: 4px;
  }

  .attachment-container {
    position: absolute;
    left: 17%;
    bottom: 10px;
    width: 60px;
    height: 40px;
  }

  .attachment-photo {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .close-button {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #ff0066;
    border: none;
    border-radius: 50%;
    color: #fff;
    width: 14px;
    height: 14px;
    font-size: 8px;
    cursor: pointer;
  }

  .submit-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #ff0066;
    color: #fff;
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
}

.message-profile {
  .message-textarea {
    width: 100%;
    font-size: 16px;
    color: #222;
    font-family: "InterMedium", sans-serif;
    min-height: 140px;
    resize: none;
    border: none;
    outline: none;
    text-align: left;
    vertical-align: top;
    padding: 0;
    box-sizing: border-box;
  }

  .submit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #ff0066;
    color: #fff;
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
}